.topicBox{
    background-color: rgb(68, 181, 230);
    width: 80%;
    height: 100px;
    border-radius: 10px;
    
}
.text{
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
}